.main {
  background-color: #f3f1f1;
}

.metalChoice {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

.headerCompare {
  border-bottom: solid black 1px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.metalChoice h1 {
  font-family: var(--primary-font);
  font-size: var(--mobile-header);
}

.upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.upper .metalButton {
  color: var(--beige);
  background-color: var(--blue);
}

.lower {
  display: flex;
  justify-content: space-between;
}

.lower .metalButton {
  background-color: var(--beige);
}

.metalButton {
  width: 49%;
  height: 150px;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--primary-font);
  box-shadow: gray 0px 4px 4px 0px;
  border: none;
}

.bigButtons {
  margin-top: 30px;
}

.bigButton {
  width: 100%;
  height: 95px;
  cursor: pointer;
  border: none;
  background-color: var(--white);
  font-size: 18px;
  font-family: var(--primary-font);
  margin-bottom: 15px;
}

.yellowBanner {
  width: 100%;
}

.bigButton h3 {
  position: relative;
  top: -63px;
  left: 2px;
  font-size: 18px;
}

.beigeBanner {
  width: 100%;
}

.investSection {
  margin-top: 30px;
}

.investHeader {
  border-bottom: solid black 1px;
}

.investHeader h1 {
  padding-bottom: 5px;
}
.investImage {
  width: 100%;
  margin-top: 15px;
}

.investText {
  margin-top: 15px;
  font-size: 16px;
  font-family: var(--secondary-font);
}

.readMore {
  margin-top: 30px;
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  cursor: pointer;
  position: relative;
  left: 42%;
  transition: 0.3s ease;

  background-color: var(--white);
}

.readMore:hover {
  color: var(--blue);
}
.readMore p {
  font-family: var(--primary-font);
  font-size: 16px;
}
.rightArrow {
  width: 20px;
}

.investLink {
  text-decoration: none;
}

@media only screen and (min-width: 1000px) {
  .main {
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1200px;
    min-width: 1000px;
    background-color: #f3f1f1;
  }

  .headerCompare {
    border-bottom: solid black 1px;
    width: 50%;
    margin-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .smallButtons {
    display: flex;
    justify-content: space-between;
  }
  .upper {
    width: 48%;
    display: flex;
    justify-content: space-between;
  }
  .lower {
    width: 48%;
    display: flex;
    justify-content: space-between;
  }
  .metalButton {
    width: 45%;
    transition: 0.5s ease;
  }

  .upper .metalButton {
    background-color: var(--beige);
    color: black;
  }
  .upper .metalButton:hover {
    background-color: black;
    color: var(--beige);
  }

  .lower .metalButton:hover {
    background-color: black;
    color: var(--beige);
  }

  .yellowBanner {
    display: none;
  }

  .bigButtons {
    display: flex;
    justify-content: space-around;
  }

  .bigButtons a {
    width: 35%;
  }
  .bigButton {
    margin-bottom: 50px;
    width: 100%;
    background-color: var(--blue);
    color: var(--beige);
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--primary-font);
    box-shadow: gray 0px 4px 4px 0px;
    border: none;
  }

  .bigButton:hover {
    background-color: var(--beige);
    color: var(--blue);
  }

  .bigButton h3 {
    position: relative;
    top: 0px;
    font-size: 18px;
  }

  .beigeBanner {
    display: none;
  }

  .investHeader {
    width: 50%;
    border-bottom: solid 2px black;
    margin-bottom: 30px;
  }

  .investImgDiv {
    margin-bottom: 30px;
  }
  .investImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .investText {
    margin-bottom: 15px;
  }

  .investSection {
    padding-bottom: 100px;
  }

  .readMore {
    position: relative;
    left: 79%;
    margin-bottom: 50px;
  }
}

#nprogress .spinner-icon {
  width: 60px !important;
  height: 60px !important;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  .yellowBanner {
    display: none;
  }
  .bigButton {
    margin-bottom: 30px;
    background-color: var(--blue);
    color: var(--gold);
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--primary-font);
    box-shadow: gray 0px 4px 4px 0px;
    border: none;
  }

  .bigButton:hover {
    background-color: var(--gold);
    color: var(--blue);
  }

  .bigButton h3 {
    position: relative;
    top: 0px;
    font-size: 18px;
  }

  .beigeBanner {
    display: none;
  }

  .readMore {
    position: relative;
    left: 69%;
    margin-bottom: 100px;
  }

  .main {
    margin-left: 30px;
    margin-right: 30px;

    background-color: #f3f1f1;
  }
}
