.main {
  /* margin-left: 15px;
  margin-right: 15px; */
  margin-top: 30px;
}

.product {
  margin-bottom: 15px;
  background-color: #ebcf65;
  padding: 5px;
  border: solid black;
  display: flex;
  justify-content: space-between;
}

.product h3 {
  font-size: 18px;
  font-family: var(--primary-font);
}

.product p {
  font-size: 15px;
  font-family: var(--secondary-font);
  margin-top: 10px;
}

.priceTag {
  padding-left: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 1000px) {
  .main {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    max-width: 1200px;
    min-width: 1000px;
    background-color: #f3f1f1;
  }
}
